@model IEnumerable<Electra_HMS.Models.Ent_Dept>

@{
    ViewBag.Title = "DepList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DepList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddDepartment", new { id=item.DeptId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeptId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeptId })
        </td>
    </tr>
}

</table>
